:root {
  --footer-bg-color: var(--pf-global--BackgroundColor--dark-100);
  --footer-text-color: white;
  --table-row-odd-bg-color: var(--pf-global--palette--black-300);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

#root {
  height: 100vh;
}

footer {
  padding: 1em;
  margin-top: auto;
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
}

/* helper classes */

.grid-center {
  display: grid;
  place-content: center;
}

.margin-left-auto {
  margin-left: auto;
}

.full-height {
  height: 100%;
}

.flex-vertical {
display: flex;
flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.table-row-odd {
  background-color: var(--table-row-odd-bg-color);
}

.padding-1em {
  padding: 1em;
}

.gap-1em {
  gap: 1em;
}

.flex-split-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}
.flex-split-2>* {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230066CCFF' stroke-width='8' stroke-dasharray='10 4' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  padding: 1em;
}
.flex-center-vertical{
  display: flex;
  align-items: center;
  gap: 1em;
}